// [環境設定]
@import "../../foundation/_variables";
@import "../../foundation/_mixin";

/* ==========================================================================//
//
// [個別スタイル]
//
// ========================================================================== */
body {
  background-color: #fff;
  overflow: hidden;
}

.l-header {
  height: 100px;
}

.l-navigation {
  position: relative;
  height: 100%;

  &__hamburger {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 23px;
    right: 23px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    &-line {
      width: 100%;
      height: 5px;
      background-color: #7ea400;
      transform: scaleX(1);
      transition: all 0.6s;
      .is-open &--1 {
        transform: rotateZ(45deg) translate(15px, 15px);
      }
      .is-open &--2 {
        transform: scaleX(0);
      }
      .is-open &--3 {
        transform: rotateZ(-45deg) translate(13px, -13px);
      }
    }
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
  }

  &__item {
    position: relative;
    flex-grow: 1;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &:last-child {
      border-right: none;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    &-text {
      position: relative;
      font-size: 1.4rem;
      color: #000000;
      &::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translate(-26.3px, -50%);
        border-width: 3.5px 0 3.5px 7px;
        border-color: transparent transparent transparent #7ea400;
        border-style: solid;
        transition: transform 600ms;
      }
    }
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      left: 8px;
      right: 8px;
      bottom: 8px;
      background-color: #7ea400;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 600ms;
    }
    &:hover {
      background-color: #f1f1f1;
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
    &:hover &-text {
      &::before {
        transform: translate(-15.7px, -50%);
      }
    }
  }
}

// Media Query
@media screen and (max-width: 768px) {
  .l-navigation {
    &__hamburger {
      display: flex;
    }
    &__list {
      position: absolute;
      top: 100px;
      right: -1000px;
      height: 420px;
      flex-direction: column;
      background-color: #f2f2f2;
      transition: all 600ms;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    &__item {
      width: 100%;
      border-right: none;
    }

    &__link {
      justify-content: left;
      &-text {
        font-size: 3rem;
        margin-left: 76px;
        &::before {
          border-width: 6px 0 6px 12px;
          transform: translate(-29.6px, -50%);
        }
      }
      &:hover &-text {
        &::before {
          transform: translate(-22.6px, -50%);
        }
      }
    }

    &.is-open &__list {
      right: 0;
    }
  }
}



