// [環境設定]
@import "../../foundation/_variables";
@import "../../foundation/_mixin";

/* ==========================================================================//
//
// [個別スタイル]
//
// ========================================================================== */
$cBlack: #7ea400;
$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 999;

  &__inner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  &__nav {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin-left: 20px;

    & > a {
      color: $cBlack;
      text-decoration: none !important;
      text-transform: uppercase;
    }
  }

  & .logo {
    font-size: 38px;
    justify-content: center;
  }
}

.c-mobile-menu {
  display: none;
  position: fixed;
  right: 0;
  top: 100px;
  width: 100%;
  z-index: 60;
  ::after {
  }

  &__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;

    & > span {
      background-color: $cMenuClose;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__main {
    padding: 0;
    font-size: 3rem;
  }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
    cursor: pointer;
    z-index: 30;
  }
  &__item {
    position: relative;
    display: block;
    height: 100px;
    padding: 0 45px;
    background-color: #f2f2f2;
    border: 1px solid #fdfdfd;
    &::after {
      position: absolute;
      top: 50%;
      left: 20px;
      content: "";
      margin-top: -9px;
      border: 7px solid transparent;
      border-top-width: 5px;
      border-bottom-width: 5px;
      border-left-color: $cBlack;
      transition: all 0.6s;
    }
    // transition: transform 0.3s, opacity 0.2s;
    // opacity: 0;
  }
  &__link {
    display: block;
    padding: 30px 0;
    color: #333;
  }
}

.is-open {
  &.c-mobile-menu {
    display: block;
    &__main {
      font-size: 3rem;
    }
    &__cover {
      opacity: 1;
      visibility: visible;
    }
    &__item {
      transform: none;
      background-color: #f2f2f2;
      opacity: 1;
      position: relative;
      display: block;
      height: 100px;
      padding: 0 45px;
      &::after {
        position: absolute;
        top: 50%;
        left: 6%;
        content: "";
        margin-top: -9px;
        border: 7px solid transparent;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-left-color: $cBlack;
        transition: all 0.6s;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.07s;
        }
      }
    }
    &__btn {
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        cursor: default;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
      }
      & > span {
        background-color: $cMenuClose;

        &:nth-child(1) {
          transition-delay: 70ms;
          transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
          transition-delay: 0s;
          transform: translateX(-18px) scaleX(0);
        }
        &:nth-child(3) {
          transition-delay: 140ms;
          transform: translateY(-11px) rotate(-135deg);
        }
      }
    }
  }
}

@include mq-up() {
  .l-header {
    &__logo {
      display: none;
    }
    &__nav {
      display: block;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
    &__list {
      height: 100%;
      display: flex;
      justify-content: center;
    }
    &__item {
      position: relative;
      margin: 0;
      border: 1px solid #f1f1f1;
      width: 270px;
      text-align: center;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background: $cBlack;
        z-index: 1;
        transition: all 0.4s;
      }
      &:hover::before {
        width: 100%;
      }
    }
    &__link {
      padding: 40px 100px;
      color: #333 !important;
      text-align: center;
      position: relative;
      display: inline-block;
      text-align: center;
      &::after {
        position: absolute;
        top: 50%;
        left: 20%;
        content: "";
        margin-top: -4px;
        border: 7px solid transparent;
        border-top-width: 5px;
        border-bottom-width: 5px;
        border-left-color: $cBlack;
        transition: all 0.6s;
      }
      &:hover {
        background-color: #f1f1f1;
        &.l-header__link::after {
          left: 25%;
        }
      }
    }
  }

  .c-mobile-menu {
    display: none;
    &__btn {
      display: none;
    }
  }
}
