// [環境設定]
@import "../../foundation/_variables";
@import "../../foundation/_mixin";

/* ==========================================================================//
//
// [個別スタイル]
//
// ========================================================================== */
body {
  background-color: white;
}
.l-header {
  height: 100px;
  &__global-navbar {
    height: 100%;
    @include mq-down() {
      position: absolute;
      top: 100px;
      width: 100%;
      left: -120%;
      transition: 0.6s;
    }
    &-list {
      display: flex;
      height: 100%;
      @include mq-down() {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 100%;
      }
    }
    &-item {
      position: relative;
      width: 25%;
      border-right: solid 0.1rem #bfbfbf;
      border-bottom: solid 0.1rem #bfbfbf;
      transition: 0.6s;
      @include mq-down() {
        height: 100px;
        width: 100%;
        border-right: none;
        border-bottom: solid 1px #bfbfbf;
        background-color: #f1f1f1;
      }
      &:first-child {
        border-top: solid 1px #bfbfbf;
      }
      &:last-child {
        border-right: none;
      }
      &::after {
        position: absolute;
        bottom: 8px;
        left: 2.67%;
        height: 4px;
        width: 0;
        content: "";
        background-color: #7ea400;
        transition: 0.6s;
      }
      &:hover {
        background-color: #f1f1f1;
        opacity: 1;
        transition: 0.6s;
        &::after {
          width: 94.67%;
          background-color: #7ea400;
          transition: 0.6s;
          @include mq-down() {
            content: none;
          }
        }
      }
      &:hover .l-header__global-navbar-icon {
        transform: translateX(10.1px);
        transition: 0.6s;
        @include mq-down() {
          transform: translateX(0);
        }
      }
    }
    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      list-style: none;
      @include mq-down() {
        justify-content: flex-start;
        margin-left: 46.4px;
      }
    }
    &-icon {
      border-top: 0.35rem solid transparent;
      border-right: 0.7rem solid transparent;
      border-bottom: 0.35rem solid transparent;
      border-left: 0.7rem solid #7ea400;
      margin-right: 11.8px;
      transition: 0.6s;
      @include mq-down() {
        border-top: 0.6rem solid transparent;
        border-right: 1.2rem solid transparent;
        border-bottom: 0.6rem solid transparent;
        border-left: 1.2rem solid #7ea400;
        font-size: 1.4rem;
        margin-right: 5px;
      }
    }
    &-title {
      font-size: 1.4rem;
      font-family: Roboto;
      text-decoration: none;
      color: #000000;
      @include mq-down() {
        font-size: 3rem;
      }
    }
  }

  @include mq-down() {
    &__hamburger {
      &-menu {
        position: absolute;
        right: 0;
        height: 100%;
        width: 108px;
        cursor: pointer;
      }
      &-line {
        position: absolute;
        right: -6px;
        height: 5px;
        width: 60px;
        background-color: #7ea400;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.6s;
        &:nth-child(1) {
          top: 27.5px;
        }
        &:nth-child(2) {
          top: 52.5px;
        }
        &:nth-child(3) {
          top: 75.5px;
        }
      }
    }
    .l-header__hamburger-line.is-click {
      right: 24px;
      transition: 0.6s;
      &:nth-child(1) {
        top: 50px;
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        top: 54px;
        right: 51px;
        width: 0;
      }
      &:nth-child(3) {
        top: 50px;
        transform: rotate(-45deg);
      }
    }
    .l-header__global-navbar.is-click {
      transition: 0.6s;
      left: 0;
    }
  }
}
