// [環境設定]
@import "../../foundation/_variables";
@import "../../foundation/_mixin";

/* ==========================================================================//
//
// [個別スタイル]
//
// ========================================================================== */
body {
  background-color: white;
}
.l-header {
  height: 100px;
  &__global-navbar {
    height: 100%;
    &-list {
      height: 100%;
    }
    &-link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 25%;
      border-right: solid 1px #bfbfbf;
      border-bottom: solid 1px #bfbfbf;
      &:last-child {
        border-right: none;
      }
      &::after {
        content: "";
        position: absolute;
        left: 2.67%;
        bottom: 8px;
        width: 0;
        height: 4px;
        background-color: #7ea400;
        transition: 0.6s;
      }
      &:hover {
        background-color: #f1f1f1;
        opacity: 1;
        transition: 0.6s;
        &::after {
          background-color: #7ea400;
          width: 94.67%;
          transition: 0.6s;
        }
      }
      &:hover .l-header__global-navbar-icon {
        transition: 0.6s;
        margin-left: 12.1px;
      }
    }
    &-item {
      position: relative;
      list-style: none;
      height: 14px;
      width: 77.1px;
    }
    &-icon {
      position: absolute;
      top: 3.5px;
      left: 0;
      border-top: 3.5px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 3.5px solid transparent;
      border-left: 7px solid #7ea400;
      transition: 0.6s;
    }
    &-title {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      font-size: 14px;
      font-family: Roboto;
      text-decoration: none;
      color: #000000;
    }
  }
}
@media screen and (max-width: 768px) {
  .l-header {
    border-bottom: solid 1px #bfbfbf;
    &__hamburger {
      &-menu {
        position: absolute;
        right: 0;
        height: 100%;
        width: 108px;
        &:hover {
          cursor: pointer;
        }
      }
      &-line {
        position: absolute;
        display: block;
        right: -6px;
        height: 5px;
        width: 60px;
        background-color: #7ea400;
        transform: translateX(-50%) translateY(-50%);
        &:nth-child(1) {
          top: 27.5px;
        }
        &:nth-child(2) {
          top: 52.5px;
        }
        &:nth-child(3) {
          top: 75.5px;
        }
      }
    }
    &__global-navbar {
      position: absolute;
      left: -120%;
      &-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        width: 100%;
      }
      &-link {
        display: block;
        height: 100px;
        width: 100%;
        border-right: none;
        border-bottom: solid 1px #bfbfbf;
        background-color: #f1f1f1;
        &:hover .l-header__global-navbar-icon {
          margin-left: 0;
        }
        &::after {
          content: none;
        }
      }
      &-icon {
        top: 45.5px;
        left: 46.4px;
        border-top: 6px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 12px solid #7ea400;
        font-size: 14px;
        margin-right: 5px;
      }
      &-title {
        top: 38px;
        left: 77px;
        font-size: 30px;
      }
    }
  }
  .l-header__hamburger-line.is-click {
    right: 24px;
    background-color: #7ea400;
    &:nth-child(1) {
      transition: 0.6s;
      top: 50px;
      transform: rotate(45deg);
    }
    &:nth-child(2) {
      top: 54px;
      transition: 0.6s;
      right: 51px;
      width: 0;
    }
    &:nth-child(3) {
      transition: 0.6s;
      top: 50px;
      transform: rotate(-45deg);
    }
  }
  .l-header__global-navbar.is-click {
    transition: 0.6s;
    display: block;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
  }
}
