<p class="u-left">左寄せ</p>
<p class="u-center">中央寄せ</p>
<p class="u-right">右寄せ</p>

<p class="u-left-md">PCのみ左寄せ</p>
<p class="u-center-md">PCのみ中央寄せ</p>
<p class="u-right-md">PCのみ右寄せ</p>

<p class="u-left-md--down">SPのみ左寄せ</p>
<p class="u-center-md--down">SPのみ中央寄せ</p>
<p class="u-right-md--down">SPのみ右寄せ</p>
