<p class="u-bd-none">border なし</p>
<p class="u-bdt-none">border-top なし</p>
<p class="u-bdb-none">border-bottom なし</p>
<p class="u-bdl-none">border-left なし</p>
<p class="u-bdr-none">border-right なし</p>

<p class="u-bd-none-md">PCのみ border なし</p>
<p class="u-bdt-none-md">PCのみ border-top なし</p>
<p class="u-bdb-none-md">PCのみ border-bottom なし</p>
<p class="u-bdl-none-md">PCのみ border-left なし</p>
<p class="u-bdr-none-md">PCのみ border-right なし</p>

<p class="u-bd-none-md--down">SPのみ border なし</p>
<p class="u-bdt-none-md--down">SPのみ border-top なし</p>
<p class="u-bdb-none-md--down">SPのみ border-bottom なし</p>
<p class="u-bdl-none-md--down">SPのみ border-left なし</p>
<p class="u-bdr-none-md--down">SPのみ border-right なし</p>
