<p class="c-text">color</p>
<p class="u-color-white">color #fff</p>
<p class="u-color-black">color #000</p>
<p class="u-color-mine-shaft">color #333</p>
<p class="u-color-dusty-gray">color #999</p>
<p class="u-color-cararra">color #e7e6e1</p>
<p class="u-color-quill-gray">color #dbdad6</p>
<p class="u-color-red">color #e00100</p>
<p class="u-color-pippin">color #ffe4e1</p>
<p class="u-color-jelly-bean">color #248b9a</p>
<p class="u-color-genoa">color #136e7b</p>
<p class="u-color-hippie-blue">color #50a2ae</p>
<p class="u-color-tangerine">color #e39600</p>

<p class="c-text">background</p>
<p class="u-bg-none">background なし</p>
<p class="u-bgcolor-transparent">background-color 透明</p>
<p class="u-bgcolor-current">background-color currentColor</p>
<p class="u-bgcolor-white">background-color #fff</p>
<p class="u-bgcolor-black">background-color #000</p>
<p class="u-bgcolor-mine-shaft">background-color #333</p>
<p class="u-bgcolor-dusty-gray">background-color #999</p>
<p class="u-bgcolor-cararra">background-color #e7e6e1</p>
<p class="u-bgcolor-quill-gray">background-color #dbdad6</p>
<p class="u-bgcolor-red">background-color #e00100</p>
<p class="u-bgcolor-pippin">background-color #ffe4e1</p>
<p class="u-bgcolor-jelly-bean">background-color #248b9a</p>
<p class="u-bgcolor-genoa">background-color #136e7b</p>
<p class="u-bgcolor-hippie-blue">background-color #50a2ae</p>
<p class="u-bgcolor-tangerine">background-color #e39600</p>
