<p class="u-dn">display none</p>
<p class="u-db">display block</p>
<p class="u-di">display inline</p>
<p class="u-dib">display inline-block</p>

<p class="u-dn-md">PCのみ display none</p>
<p class="u-db-md">PCのみ display block</p>
<p class="u-di-md">PCのみ display inline</p>
<p class="u-dib-md">PCのみ display inline-block</p>

<p class="u-dn-md--down">SPのみ display none</p>
<p class="u-db-md--down">SPのみ display block</p>
<p class="u-di-md--down">SPのみ display inline</p>
<p class="u-dib-md--down">SPのみ display inline-block</p>
