<p class="u-fw-nomral">font-weight normal</p>
<p class="u-fw-bold">font-weight bold</p>

<p class="u-fw-nomral-md">PCのみ font-weight normal</p>
<p class="u-fw-bold-md">PCのみ font-weight bold</p>

<p class="u-fw-nomral-md--down">SPのみ font-weight normal</p>
<p class="u-fw-bold-md--down">SPのみ font-weight bold</p>
