<p class="u-m-0">margin なし</p>
<p class="u-mt-0">margin-top 0px</p>
<p class="u-mb-0">margin-bottom 0px</p>
<p class="u-ml-0">margin-left 0px</p>
<p class="u-mr-0">margin-right 0px</p>
<p class="u-mt-5">margin-top 5pxずつ 5px 〜 100px</p>
<p class="u-mt-100">margin-top 5pxずつ 5px 〜 100px</p>

<p class="u-m-0-md">PCのみ margin なし</p>
<p class="u-mt-0-md">PCのみ margin-top 0px</p>
<p class="u-mb-0-md">PCのみ margin-bottom 0px</p>
<p class="u-ml-0-md">PCのみ margin-left 0px</p>
<p class="u-mr-0-md">PCのみ margin-right 0px</p>
<p class="u-mt-5-md">PCのみ margin-top 5pxずつ 5px 〜 100px</p>
<p class="u-mt-100-md">PCのみ margin-top 5pxずつ 5px 〜 100px</p>

<p class="u-m-0-md--down">SPのみ margin なし</p>
<p class="u-mt-0-md--down">SPのみ margin-top 0px</p>
<p class="u-mb-0-md--down">SPのみ margin-bottom 0px</p>
<p class="u-ml-0-md--down">SPのみ margin-left 0px</p>
<p class="u-mr-0-md--down">SPのみ margin-right 0px</p>
<p class="u-mt-5-md--down">SPのみ margin-top 5pxずつ 5px 〜 100px</p>
<p class="u-mt-100-md--down">SPのみ margin-top 5pxずつ 5px 〜 100px</p>
