<p class="c-text">include使用します。<br><%%- include(rootPath + 'parts/_footer', {page:page}); %></p>

<!-- ここからフッター -->
<footer class="l-footer l-block">
  <p class="l-footer__copyright"><small>Copyright &copy; example. All Rights Reserved.</small></p>
</footer>
<!-- ここまでフッター -->
