<p class="c-text">1カラム</p>

<div class="l-row">
  <div class="l-col-12"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">2カラム</p>

<div class="l-row">
  <div class="l-col-6"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-6"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">3カラム</p>

<div class="l-row">
  <div class="l-col-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-4"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">4カラム</p>

<div class="l-row">
  <div class="l-col-3"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-3"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-3"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-3"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">5カラム</p>

<div class="l-row">
  <div class="l-col-2-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2-4"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2-4"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">6カラム</p>

<div class="l-row">
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-2"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">12カラム</p>

<div class="l-row">
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-1"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">均等</p>

<div class="l-row">
  <div class="l-col"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>

<p class="c-text">レスポンシブ</p>

<div class="l-row">
  <div class="l-col-12 l-col-6-md l-col-3-lg"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-12 l-col-6-md l-col-3-lg"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-12 l-col-6-md l-col-3-lg"><img src="http://placehold.it/3000x1000" alt=""></div>
  <div class="l-col-12 l-col-6-md l-col-3-lg"><img src="http://placehold.it/3000x1000" alt=""></div>
</div>
