<section class="l-section l-block">
  <h2 class="c-heading-02">通常のセクション</h2>
  <p class="c-text">見出しなしの場合はdivを使う。テキストテキストテキストテキストテキストテキストテキストテキスト</p>
</section>

<section class="l-section--fill l-block">
  <h2 class="c-heading-02">色付きのセクション</h2>
  <p class="c-text">見出しなしの場合はdivを使う。テキストテキストテキストテキストテキストテキストテキストテキスト</p>
</section>
