<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>サイト確認用ページ</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
<style>body {background-color: #333;}.p-check {width: 50%;min-height: 100vh;list-style: none;margin: 0;padding: 0;background-color: #248b9a;}.p-check::before {content: 'Preview';display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: fixed;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;justify-content: center;top: 0;right: 0;width: 50%;height: 100%;border: 10px solid #333;font-size: 30px;font-weight: bold;color: #fff;-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 1;}.p-check__item {position: relative;border-bottom: 1px solid #fff;z-index: 2;}.p-check__link {display: block;padding: 20px;background-color: #248b9a;color: #fff;text-decoration: none;cursor: pointer;}.p-check__link:hover {background-color: #333;}.p-check__url {word-break: break-all;}.p-check__preview {display: none;position: fixed;top: 0;right: 0;width: 50%;height: 100%;border: 10px solid #333;-webkit-box-sizing: border-box;box-sizing: border-box;}.p-check__preview--all {height: 100%;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;overflow: auto;}.p-check__link:hover .p-check__preview,.p-check__link:hover .p-check__button {display: block;}.p-check__link:hover .p-check__preview--all {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}.p-check__page {display: block;width: 200%;height: 200%;border: none;-webkit-transform: scale(0.5);-ms-transform: scale(0.5);transform: scale(0.5);-webkit-transform-origin: left top;-ms-transform-origin: left top;transform-origin: left top;-webkit-box-sizing: border-box;box-sizing: border-box;}.p-check__page--all {border: 5px solid #333;}.p-check__group {position: relative;display: block;width: 50%;height: 50%;}.p-check__group-head {position: absolute;left: 0;top: 0;display: block;width: 100%;padding: 5px;background-color: #333;color: #fff;z-index: 2;text-decoration: none;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}.p-check__group-head:hover {color: #248b9a;}.p-check__button {position: fixed;right: 0;top: 0;display: none;width: 50px;height: 30px;text-align: center;background-color: #fff;color: #fff;z-index: 10;text-decoration: none;cursor: pointer;}.p-check__button::before {content: 'PC';display: block;width: 50px;height: 30px;line-height: 30px;background-color: #248b9a;}.p-check__button:hover + .p-check__preview {display: block;}.p-check__button:hover + .p-check__preview--all {display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;}.p-check__button:hover::before {opacity: .7;}.p-check__button.is-active::before {content: 'SP';}.p-check__button.is-active + .p-check__preview .p-check__page {max-width: 375px;width: 100%;height: 100%;margin: auto;-webkit-transform: scale(1);-ms-transform: scale(1);transform: scale(1);}@media screen and (max-width: 767px) {.p-check {width: 100%;}.p-check::before {content: none;}.p-check__link:hover {background-color: #248b9a;}.js-preview-all,.p-check__link:hover .p-check__preview,.p-check__link:hover .p-check__preview--all,.p-check__link:hover .p-check__button {display: none;}}</style>
</head>
<body>
<ul class="p-check">
<% Object.keys(set).forEach(function (key) { %>
  <% if(set[key].url) { %>
  <li class="p-check__item">
    <a class="p-check__link js-preview" href="<%= set[key].url %>" target="_blank">
      <div class="p-check__body">
        <p class="p-check__id"><%= set[key].id %>：<%= set[key].title %></p>
        <p class="p-check__url"><%= set[key].url %></p>
      </div>
      <div class="p-check__button js-preview-layout"></div>
      <div class="p-check__preview"><iframe class="p-check__page"></iframe></div>
    </a>
  </li>
  <% } %>
<% }) %>
</ul>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>$(function(){$('.js-preview').on({'mouseenter' : function(){var url = $(this).attr('href');if($(this).find('iframe').attr('src') == null){$(this).find('iframe').attr('src',url);}}});$('.js-preview-layout').on('click',function(event){event.preventDefault();$(this).toggleClass('is-active');});});</script>
</body>
</html>
