<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/daiki.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <div id="p-header__hamburger">
            <span class="c-header__line"></span>
            <span class="c-header__line"></span>
            <span class="c-header__line"></span>
        </div>
        <nav>
            <ul class="p-header__list">
                <li class="c-header__list">Menu01</li>
                <li class="c-header__list">Menu02</li>
                <li class="c-header__list">Menu03</li>
                <li class="c-header__list">Menu04</li>
            </ul>
        </nav>
    </header>
    <script src="/assets/js/common.js"></script>
</body>
</html>