<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/daiki.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <div class="l-header-hamburger" id="l-header__hamburger">
            <span class="l-hamburger__line l-hamburger__line--1"></span>
            <span class="l-hamburger__line l-hamburger__line--2"></span>
            <span class="l-hamburger__line l-hamburger__line--3"></span>
        </div>
        <nav>
            <ul class="l-header__block" id="l-header__block">
                <li class="l-header__list"><a href = "#">Menu01</a></li>
                <li class="l-header__list"><a href = "#">Menu02</a></li>
                <li class="l-header__list"><a href = "#">Menu03</a></li>
                <li class="l-header__list"><a href = "#">Menu04</a></li>
            </ul>
        </nav>
    </header>
    <script src="/assets/js/daiki.js"></script>
</body>
</html>