<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <title>ここに支給されたtitleを入力して下さい</title>
    <meta
      name="description"
      content="ここに支給されたdescriptionを入力して下さい"
    />
    <meta name="keywords" content="ここに支給されたkeywordsを入力して下さい" />
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/ituki.css" />
    <!-- /css -->
  </head>
  <body>
    <header class="l-header">
      <nav class="l-navigation js-navigation">
        <div class="l-navigation__hamburger js-hamburger-btn">
          <div
            class="l-navigation__hamburger-line l-navigation__hamburger-line--1"
          ></div>
          <div
            class="l-navigation__hamburger-line l-navigation__hamburger-line--2"
          ></div>
          <div
            class="l-navigation__hamburger-line l-navigation__hamburger-line--3"
          ></div>
        </div>
        <ul class="l-navigation__list">
          <li class="l-navigation__item">
            <a class="l-navigation__link" href="#"
              ><span class="l-navigation__link-text">Menu01</span></a
            >
          </li>
          <li class="l-navigation__item">
            <a class="l-navigation__link" href="#"
              ><span class="l-navigation__link-text">Menu02</span></a
            >
          </li>
          <li class="l-navigation__item">
            <a class="l-navigation__link" href="#"
              ><span class="l-navigation__link-text">Menu03</span></a
            >
          </li>
          <li class="l-navigation__item">
            <a class="l-navigation__link" href="#"
              ><span class="l-navigation__link-text">Menu04</span></a
            >
          </li>
        </ul>
      </nav>
    </header>
    <script>
      const hamburger = document.querySelector(".js-hamburger-btn");
      const navbar = document.querySelector(".js-navigation");
      hamburger.addEventListener("click", () => {
        navbar.classList.toggle("is-open");
      });
    </script>
  </body>
</html>
