<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/kenji.css">
<!-- /css -->
</head>
<body>
    <div class="c-mobile-menu__cover"></div>
    <header class="l-header">
        <div class="l-header__inner">
            <nav class="l-header__nav">
                <ul class="l-header__list">
                    <li class="l-header__item"><a class="l-header__link" href="#">Menu01</a></li>
                    <li class="l-header__item"><a class="l-header__link" href="#">Menu02</a></li>
                    <li class="l-header__item"><a class="l-header__link" href="#">Menu03</a></li>
                    <li class="l-header__item"><a class="l-header__link" href="#">Menu04</a></li>
                </ul>
            </nav>
            <button class="l-header__menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </header>
    <nav class="c-mobile-menu">
        <ul class="c-mobile-menu__main">
            <li class="c-mobile-menu__item">
                <a class="c-mobile-menu__link" href="#">Menu01</a>
            </li>
            <li class="c-mobile-menu__item">
                <a class="c-mobile-menu__link" href="#">Menu02</a>
            </li>
            <li class="c-mobile-menu__item">
                <a class="c-mobile-menu__link" href="#">Menu03</a>
            </li>
            <li class="c-mobile-menu__item">
                <a class="c-mobile-menu__link" href="#">Menu04</a>
            </li>
        </ul>
    </nav>
    <script language="javascript" type="text/javascript">
    let button = document.querySelector('.l-header__menu-btn');
    let menu = document.querySelector('.c-mobile-menu');
    button.addEventListener('click', () => {button.classList.toggle('is-open');});
    button.addEventListener('click', () => {menu.classList.toggle('is-open');});

        // class MobileMenu {
        //     constructor() {
        //         this.DOM = {};
        //         this.DOM.btn = document.querySelector('.c-mobile-menu__btn');
        //         this.DOM.cover = document.querySelector('.c-mobile-menu__cover');
        //         this.eventType = this._getEventType();
        //         this._addEvent();
        //     }

        //     _getEventType() {
        //         return window.ontouchstart ? 'touchstart' : 'click';
        //     }

        //     _toggle() {
        //         this.DOM.btn.classList.toggle('is-open');
        //     }

        //     _addEvent() {
        //         this.DOM.btn.addEventListener('click', this._toggle.bind(this));
        //         this.DOM.cover.addEventListener(this.eventType, this._toggle.bind(this));
        //     }
        // }
    </script>
</body>
</html>
