<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>css-traning</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/taro.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <div class="hamburger-menu" id="hamburger">
            <span class="hamburger-line" id="line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </div>
        <nav class="p-global-navbar">
            <ul class="p-global-navbar__list">
                <a class="c-global-navbar__link" href=""><li class="c-global-navbar__item"><span class="global-navbar__icon"></span><span class="global-navbar__title" href="">Menu01</span></li></a>
                <a class="c-global-navbar__link" href=""><li class="c-global-navbar__item"><span class="global-navbar__icon"></span><span class="global-navbar__title" href="">Menu02</span></li></a>
                <a class="c-global-navbar__link" href=""><li class="c-global-navbar__item"><span class="global-navbar__icon"></span><span class="global-navbar__title" href="">Menu03</span></li></a>
                <a class="c-global-navbar__link" href=""><li class="c-global-navbar__item"><span class="global-navbar__icon"></span><span class="global-navbar__title" href="">Menu04</span></li></a>
            </ul>
        </nav>
    </header>
</body>
<!-- <script>
      function hamburger(){
    document.getElementById('line').classList.toggle('hamburger-line-after');
  };
  document.getElementById('hamburger').addEventListener('click',function(){
    hamburger();
  });

</script> -->
</html>