<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/taro.css">
<!-- /css -->
</head>
<body>
    <header class="l-header l-header-after">
        <div class="p-hamburger-menu p-hamburger-menu-after">
            <span class="c-hamburger-line c-hamburger-line-after"></span>
            <span class="c-hamburger-line c-hamburger-line-after"></span>
            <span class="c-hamburger-line c-hamburger-line-after"></span>
        </div>
        <nav class="l-global-navbar l-global-navbar-after">
            <ul class="p-global-navbar__list p-global-navbar__list-after">
                <li class="c-global-navbar__item c-global-navbar__item-after"><span class="c-global-navbar__icon c-global-navbar__icon-after">▶︎</span><a class="c-global-navbar__link c-global-navbar__link-after" href="">Menu01</a></li>
                <li class="c-global-navbar__item c-global-navbar__item-after"><span class="c-global-navbar__icon c-global-navbar__icon-after">▶︎</span><a class="c-global-navbar__link c-global-navbar__link-after" href="">Menu02</a></li>
                <li class="c-global-navbar__item c-global-navbar__item-after"><span class="c-global-navbar__icon c-global-navbar__icon-after">▶︎</span><a class="c-global-navbar__link c-global-navbar__link-after" href="">Menu03</a></li>
                <li class="c-global-navbar__item c-global-navbar__item-after"><span class="c-global-navbar__icon c-global-navbar__icon-after">▶︎</span><a class="c-global-navbar__link c-global-navbar__link-after" href="">Menu04</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>