<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/yuya.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <div id="target">
            <div class="l-header__target-inner">
              <span class="c-header__target-inner-line c-header__target-inner-1" id="line1"></span>
              <span class="c-header__target-inner-line c-header__target-inner-2" id="line2"></span>
              <span class="c-header__target-inner-line c-header__target-inner-3" id="line3"></span>
            </div>
      　</div>
        <nav class="l-header__sp-nav" id="nav_f">
            <ul class="l-header__nav">
                <li class="l-header__nav-item l-header__nav-item--first">
                      <a href="#" class="c-header__nav-text"><span>Menu01</span></a> 
                </li>
                <li class="l-header__nav-item">
                      <a href="#" class="c-header__nav-text"><span>Menu02</span></a>
                </li>
                <li class="l-header__nav-item">
                      <a href="#" class="c-header__nav-text"><span>Menu03</span></a>
                </li>
                <li class="l-header__nav-item">
                      <a href="#" class="c-header__nav-text"><span>Menu04</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <script type="text/javascript">
        function hamburger() {
        document.getElementById('line1').classList.toggle('linea');
        document.getElementById('line2').classList.toggle('lineb');
     　　document.getElementById('line3').classList.toggle('linec');
     　　document.getElementById('target').classList.toggle('slidex');
     　　document.getElementById('nav_f').classList.toggle('fadein');
        }
        
        document.getElementById('target').addEventListener('click', function () {
        　　hamburger();
    });
    </script>
</body>
</html>