<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/yuya.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <!-- <div class="p-header__sp-menu">
            <div id="target">
            　　<div class="p-header__target-inner">
            　　　　<span class="c-header__target-inner-line c-header__target-inner-1" id="line1"></span>
            　　　　<span class="c-header__target-inner-line c-header__target-inner-2" id="line2"></span>
            　　　　<span class="c-header__target-inner-line c-header__target-inner-3" id="line3"></span>
            　　</div>
            </div>
        </div> -->
        <nav class="p-header__sp-nav">
            <ul class="p-header__sp-list">
              <li class="p-header__sp-item"><a href="#">Home</a></li>
              <li class="p-header__sp-item"><a href="#">Menu</a></li>
              <li class="p-header__sp-item"><a href="#">News</a></li>
              <li class="p-header__sp-item"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <button type="button" id="navbtn"></button>
        <ul class="p-header__nav">
            <li class="p-header__nav-item">
                <a class="p-header__bottom">
                  <p class="p-header__nav-text p-header__nav-text-first"><img src="/assets/image/ico/anime-arrow-01.png" class="p-header__img">Menu01</p>
                </a>
            </li>
            <li class="p-header__nav-item">
                <a class="p-header__bottom">
                    <p class="p-header__nav-text p-header__nav-text-first"><img src="/assets/image/ico/anime-arrow-01.png" class="p-header__img">Menu02</p>
                </a>
            </li>
            <li class="p-header__nav-item">
                <a class="p-header__bottom">
                    <p class="p-header__nav-text p-header__nav-text-first"><img src="/assets/image/ico/anime-arrow-01.png" class="p-header__img">Menu03</p>
                </a>
            </li>
            <li class="p-header__nav-item">
                <a class="p-header__bottom">
                    <p class="p-header__nav-text p-header__nav-text-first"><img src="/assets/image/ico/anime-arrow-01.png" class="p-header__img">Menu04</p>
                </a>
            </li>
        </ul>
    </header>
</body>
</html>