<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="format-detection" content="telephone=no">
<title>ここに支給されたtitleを入力して下さい</title>
<meta name="description" content="ここに支給されたdescriptionを入力して下さい">
<meta name="keywords" content="ここに支給されたkeywordsを入力して下さい">
<!-- css -->
<link rel="stylesheet" href="/assets/css/common.css">
<link rel="stylesheet" href="/assets/css/yuya.css">
<!-- /css -->
</head>
<body>
    <header class="l-header">
        <nav class="l-header__sp-nav">
            <ul class="l-header__nav">
                <li class="p-header__nav-item p-header__nav-item--first">
                    <p class="p-header__bottom">
                        <a class="c-header__nav-text"><span>Menu01</span></a>
                    </p>
                </li>
                <li class="p-header__nav-item">
                    <p class="p-header__bottom">
                        <a class="c-header__nav-text"><span>Menu02</span></a>
                    </p>
                </li>
                <li class="p-header__nav-item">
                    <p class="p-header__bottom">
                        <a class="c-header__nav-text"><span>Menu03</span></a>
                    </p>
                </li>
                <li class="p-header__nav-item">
                    <p class="p-header__bottom">
                        <a class="c-header__nav-text"><span>Menu04</span></a>
                    </p>
                </li>
            </ul>
        </nav>
        <button type="button" id="navbtn"></button>
    </header>
    <script type="text/javascript">
        document.getElementById("navbtn").onclick = function(){
        document.querySelector('html').classList.toggle('open');
        }
    </script>
</body>
</html>