<div class="c-button-group"><a class="c-button" href="#"><span class="c-button__text">通常ボタン</span></a></div>
<div class="c-button-group"><a class="c-button c-button--strong" href="#"><span class="c-button__text">強調ボタン</span></a></div>
<div class="c-button-group"><a class="c-button c-button--weak" href="#"><span class="c-button__text">非強調ボタン</span></a></div>
<div class="c-button-group"><button class="c-button" disabled><span class="c-button__text">無効ボタン</span></button></div>
<div class="c-button-group"><a class="c-button-large" href="#"><span class="c-button__text">大ボタン</span></a></div>
<div class="c-button-group"><a class="c-button-middle" href="#"><span class="c-button__text">中ボタン</span></a></div>
<div class="c-button-group"><a class="c-button-small" href="#"><span class="c-button__text">小ボタン</span></a></div>
<div class="c-button-group"><a class="c-button-auto" href="#"><span class="c-button__text">テキストの幅ボタン</span></a></div>

<div class="c-button-group">
  <a class="c-button-middle c-button--weak" href="#"><span class="c-button__text">インラインボタン</span></a>
  <button class="c-button-middle"><span class="c-button__text">インラインボタン</span></button>
</div>

<div class="c-button-group">
  <a class="c-button-middle c-button--weak" href="#"><span class="c-button__text c-icon--arrow-white">アイコン付きボタン</span></a>
  <a class="c-button-middle" href="#" target="_blank"><span class="c-button__text c-icon--window-white c-icon--after">アイコン付きボタン</span></a>
</div>
