<p class="c-text">チェックボックス</p>

<label class="c-check">
  <input type="checkbox" id="" name="" value="">
  <span class="c-check__text">通常チェックボックス</span>
</label>
<label class="c-check">
  <input type="checkbox" id="" name="" value="" checked>
  <span class="c-check__text">選択済みチェックボックス</span>
</label>
<label class="c-check">
  <input class="is-invalid" type="checkbox" id="" name="" value="">
  <span class="c-check__text">エラーチェックボックス</span>
</label>
<label class="c-check">
  <input type="checkbox" id="" name="" value="" disabled>
  <span class="c-check__text">非活性チェックボックス</span>
</label>

<p class="c-text">ラジオボタン</p>

<label class="c-check">
  <input type="radio" id="" name="radio" value="">
  <span class="c-check__text">通常ラジオボタン</span>
</label>
<label class="c-check">
  <input type="radio" id="" name="radio" value="" checked>
  <span class="c-check__text">選択済みラジオボタン</span>
</label>
<label class="c-check">
  <input class="is-invalid" type="radio" id="" name="radio" value="">
  <span class="c-check__text">エラーラジオボタン</span>
</label>
<label class="c-check">
  <input type="radio" id="" name="radio" value="" disabled>
  <span class="c-check__text">非活性ラジオボタン</span>
</label>
