<p class="c-text">input</p>
<input class="c-control" type="text" value="" placeholder="通常input">
<input class="c-control is-invalid" type="text" value="" placeholder="エラーinput">
<input class="c-control" type="text" value="" placeholder="非活性input" disabled>

<p class="c-text">textarea</p>
<textarea class="c-textarea" rows="4" placeholder="通常textarea"></textarea>
<textarea class="c-textarea is-invalid" rows="5" placeholder="通常textarea"></textarea>
<textarea class="c-textarea" rows="6" placeholder="非活性textarea" disabled></textarea>

<p class="c-text">select</p>
<select class="c-select">
  <option value="" selected>通常select</option>
  <option value="テキスト">テキスト</option>
</select>
<select class="c-select is-invalid">
  <option value="" selected>エラーselect</option>
  <option value="テキスト">テキスト</option>
</select>
<select class="c-select" disabled>
  <option value="" selected>非活性select</option>
  <option value="テキスト">テキスト</option>
</select>
