<p class="c-text">Youtube</p>
<div class="c-embed">
  <iframe src="//www.youtube.com/embed/teFbTbizCnQ?rel=0&amp;controls=1&amp;showinfo=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<p class="c-text">video</p>
<div class="c-embed">
  <video src="/assets/video/video_01.mp4" poster="/assets/image/img/img_video_01.jpg" playsinline muted loop controls></video>
</div>
