<p class="c-text">img版</p>
<figure class="c-figure">
  <img src="http://placehold.it/600x300" alt="">
</figure>

<p class="c-text">imgset版</p>
<figure class="c-figure">
  <img src="http://placehold.it/600x300" srcset="http://placehold.it/1200x600 2x" alt="">
</figure>

<p class="c-text">picture版。<a class="c-link" href="http://scottjehl.github.io/picturefill/">Polyfillを使用しています。</a></p>
<picture class="c-figure">
  <source media="(min-width: 768px)" srcset="http://placehold.it/600x300?text=PC">
  <img src="http://placehold.it/600x300?text=SP" alt="">
</picture>
