<p class="c-icon--arrow">矢印（右）アイコン</p>
<p class="c-icon--arrow-left">矢印（左）アイコン</p>
<p class="c-icon--after c-icon--window">別窓アイコン</p>
<p class="c-icon--after c-icon--pdf">PDFアイコン</p>
<p><i class="c-icon--arrow-circle-top"></i></p>
