<ul class="c-list">
  <li class="c-list__item">リストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
  <li class="c-list__item">リストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
</ul>

<ul class="c-list--small">
  <li class="c-list__item">小さいリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
  <li class="c-list__item">小さいリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリストリスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item--dot">中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト</li>
  <li class="c-list__item--dot">中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト中黒リスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item--notes">注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト</li>
  <li class="c-list__item--notes">注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト注釈リスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item--order">連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト</li>
  <li class="c-list__item--order">連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト連番リスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item--order-notes">連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト</li>
  <li class="c-list__item--order-notes">連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト連番注釈リスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item" data-attr="a.">任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト</li>
  <li class="c-list__item" data-attr="b.">任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト任意注釈リスト</li>
</ul>

<ul class="c-list">
  <li class="c-icon--arrow">アイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリスト</li>
  <li class="c-icon--window">アイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリストアイコンリスト</li>
</ul>

<ul class="c-list">
  <li class="c-list__item--order">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト
    <ul class="c-list--small">
      <li class="c-list__item--dot">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト</li>
      <li class="c-list__item--dot">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト</li>
    </ul>
  </li>
  <li class="c-list__item--order">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト
    <ul class="c-list--small">
      <li class="c-list__item--order">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト</li>
      <li class="c-list__item--order">入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト入れ子リスト</li>
    </ul>
  </li>
</ul>

<ul class="c-list">
  <li class="c-list__item--dot">左揃えリスト</li>
  <li class="c-list__item--dot">左揃えリスト</li>
  <li class="c-list__item--center c-list__item--dot">中央揃えリスト</li>
  <li class="c-list__item--center c-list__item--dot">中央揃えリスト</li>
  <li class="c-list__item--right c-list__item--dot">右揃えリスト</li>
  <li class="c-list__item--right c-list__item--dot">右揃えリスト</li>
</ul>
