<table class="c-table">
  <colgroup>
    <col style="width: 30%;">
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>見出し</th>
      <th>見出し</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>見出し</th>
      <td>通常の表組み</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>通常の表組み</td>
    </tr>
  </tbody>
</table>
