<figure class="c-table-scroll">
  <table class="c-table">
    <colgroup>
      <col style="width: 30%;">
      <col>
      <col>
      <col>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>見出し</th>
        <th>見出し</th>
        <th>見出し</th>
        <th>見出し</th>
        <th>見出し</th>
        <th>見出し</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>見出し</th>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
        <td>スマホ時はスクロールする表組み</td>
      </tr>
    </tbody>
  </table>
</figure>
