<table class="c-table-list">
  <colgroup>
    <col style="width: 30%;">
    <col>
  </colgroup>
  <tbody>
    <tr>
      <th>見出し</th>
      <td>リスト型表組み</td>
    </tr>
    <tr>
      <th>見出し</th>
      <td>リスト型表組み</td>
    </tr>
  </tbody>
</table>
