<p class="c-text">通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト</p>
<p class="c-text">通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト通常のテキスト</p>
