<!-- ここからページトップへー -->
<p class="p-pagetop js-pagetop"><a class="p-pagetop__trigger c-icon--arrow-circle-top js-scroll" href="#"><span class="u-hidden">ページトップへ</span></a></p>
<!-- ここからページトップへ -->

<!-- ここからフッター -->
<footer class="l-footer l-block">
  <p class="l-footer__copyright"><small>Copyright &copy; example. All Rights Reserved.</small></p>
</footer>
<!-- ここまでフッター -->
