<!-- ここからjavascript -->
<script src="<%- root %>/assets/js/jquery-3.3.1.min.js"></script>
<script src="<%- root %>/assets/js/lib.js"></script>
<script src="<%- root %>/assets/js/common.js"></script>
<%_ if(page.uniqueFoot){ _%>
<!-- unique -->
<%- page.uniqueFoot %>
<!-- /unique -->
<%_ } _%>
<!-- ここまでjavascript -->
</body>
</html>
