<!-- ここからヘッダー -->
<header class="l-header">
  <div class="l-header__in l-block">
    <%_ if(set[i].category === 'index') { _%>
    <h1 class="l-header__logo"><a class="l-header__logo-link" href="#"><img class="l-header__logo-image" src="http://placehold.it/118x30&text=LOGO" alt="LOGO"></a></h1>
    <%_ } else { _%>
    <p class="l-header__logo"><a class="l-header__logo-link" href="#"><img class="l-header__logo-image" src="http://placehold.it/118x30&text=LOGO" alt="LOGO"></a></p>
    <%_ } _%>
    <a href="#" class="l-header__menu-trigger js-toggle" data-delay="300"><span class="l-header__menu-trigger-mark"></span></a>
    <div class="l-header__utility l-header__utility--top">
      <div class="l-header__utility-in">
        <form method="" class="l-header__search">
          <input class="l-header__search-input" type="search" placeholder="Search">
          <div class="l-header__search-trigger">
            <button class="l-header__search-button" type="submit" name="">検索</button>
          </div>
        </form>
        <nav class="l-header__menu l-block js-sticky">
          <ul class="l-header__menu-list">
            <li class="l-header__menu-item">
              <a class="l-header__menu-link js-accordion" data-group="menu" href="#">layout</a>
              <div class="l-header__submenu">
                <div class="l-header__submenu-in">
                  <ul class="l-header__submenu-list">
                    <li class="l-header__submenu-item"><a class="l-header__submenu-link js-scroll" href="#"><span class="c-icon--arrow">text</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="l-header__menu-item">
              <a class="l-header__menu-link js-accordion" data-group="menu" href="#">component</a>
              <div class="l-header__submenu">
                <div class="l-header__submenu-in">
                  <ul class="l-header__submenu-list">
                    <li class="l-header__submenu-item"><a class="l-header__submenu-link js-scroll" href="#"><span class="c-icon--arrow">text</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="l-header__menu-item">
              <a class="l-header__menu-link js-accordion" data-group="menu" href="#">project</a>
              <div class="l-header__submenu">
                <div class="l-header__submenu-in">
                  <ul class="l-header__submenu-list">
                    <li class="l-header__submenu-item"><a class="l-header__submenu-link js-scroll" href="#"><span class="c-icon--arrow">text</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="l-header__menu-item">
              <a class="l-header__menu-link js-accordion" data-group="menu" href="#">js</a>
              <div class="l-header__submenu">
                <div class="l-header__submenu-in">
                  <ul class="l-header__submenu-list">
                    <li class="l-header__submenu-item"><a class="l-header__submenu-link js-scroll" href="#"><span class="c-icon--arrow">text</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="l-header__menu-item">
              <a class="l-header__menu-link js-accordion" data-group="menu" href="#">utility</a>
              <div class="l-header__submenu">
                <div class="l-header__submenu-in">
                  <ul class="l-header__submenu-list">
                    <li class="l-header__submenu-item"><a class="l-header__submenu-link js-scroll" href="#"><span class="c-icon--arrow">text</span></a></li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ここまでヘッダー -->
