<ol class="p-accordion">
  <li class="p-accordion__item">
    <a href="#" class="p-accordion__trigger js-accordion">タイトルタイトル</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
  <li class="p-accordion__item">
    <a href="#" class="p-accordion__trigger js-accordion">タイトルタイトル</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
</ol>

<ol class="p-accordion">
  <li class="p-accordion__item">
    <a href="#" class="p-accordion__trigger js-accordion" data-group="accordion">data-groupを指定するとグループ化</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
  <li class="p-accordion__item">
    <a href="#" class="p-accordion__trigger js-accordion" data-group="accordion">data-groupを指定するとグループ化</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
</ol>

<ol class="p-accordion">
  <li class="p-accordion__item">
    <a id="accordion-01" href="#" class="p-accordion__trigger js-accordion">hrefを指定するとパラメータが一致していたらload時にカレント</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
  <li class="p-accordion__item">
    <a id="accordion-02" href="#" class="p-accordion__trigger js-accordion">hrefを指定するとパラメータが一致していたらload時にカレント</a>
    <div class="p-accordion__body">
      <div class="p-accordion__body-in">
        <p class="c-text">アニメーションはcss。開閉時に'.is-active'を付与する。mixinの「@include accordion」と併用する。
          <br>指定のアコーディオンを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
      </div>
    </div>
  </li>
</ol>
