<p class="c-text"><a class="c-link" href="https://github.com/humaan/Modaal" target="_blank">Modaalプラグインを使用しています。</a></p>

<p><a class="js-modal" href="#modal-inline">モーダルウィンドウ（インライン）</a></p>
<p><a class="js-modal-image" href="http://placehold.it/600x350">モーダルウィンドウ（画像）</a></p>
<p><a class="js-modal-ajax" href="/sample.html">モーダルウィンドウ（ajax）</a></p>

<div id="modal-inline" class="u-dn">
  <p>インラインモーダル</p>
</div>
