<p class="c-text">全件表示</p>
<div id="more-01" class="p-more l-row">
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
</div>

<div class="c-button-group">
  <a class="c-button js-more" href="#more-01"><span class="c-button__text">もっと見る</span></a>
</div>

<p class="c-text">3件ずつ表示</p>
<div id="more-02" class="p-more l-row">
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3 is-active"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
  <div class="p-more__item l-col-3"><img src="http://placehold.it/600x600" alt=""></div>
</div>

<div class="c-button-group">
  <a class="c-button js-more" href="#more-02" data-more="3"><span class="c-button__text">もっと見る</span></a>
</div>
