<div class="p-stretch l-row">
  <div class="l-col">
    <figure class="js-stretch">
      <img src="http://placehold.it/300x100" alt="">
    </figure>
  </div>
  <div class="l-col">
    <figure class="js-stretch">
      <img src="http://placehold.it/300x50" alt="">
    </figure>
    <p>高さ揃え</p>
  </div>
  <div class="l-col">
    <figure class="js-stretch">
      <img src="http://placehold.it/300x150" alt="">
    </figure>
    <p>高さ揃え</p>
  </div>
</div>
