<p class="c-text"><a class="c-link" href="http://kenwheeler.github.io/slick/" target="_blank">slickプラグインを使用しています。</a></p>

<div class="p-slider">
  <div class="p-slider__group js-slider">
    <div class="p-slider__item"><img class="p-slider__image" src="http://placehold.it/3000x1000" alt=""></div>
    <div class="p-slider__item"><img class="p-slider__image" src="http://placehold.it/3000x1000" alt=""></div>
    <div class="p-slider__item"><img class="p-slider__image" src="http://placehold.it/3000x1000" alt=""></div>
  </div>
</div>
