<p><a href="#" class="p-toggle js-toggle">クリックする度に'.is-active'を付与する。</a></p>

<p id="toggle-01"><a href="#toggle-01" class="p-toggle js-toggle">hrefを指定すると指定先にも'.is-active'を付与する。</a></p>

<p><a href="#" class="p-toggle js-toggle" data-group="toggle">data-groupを指定するとグループ化</a></p>
<p><a href="#" class="p-toggle js-toggle" data-group="toggle">data-groupを指定するとグループ化</a></p>
