<div class="p-tab js-tab">
  <ul class="p-tab__navi js-tab-navi">
    <li class="p-tab__item"><a class="p-tab__link is-active" href="#tab-01">タブ1</a></li>
    <li class="p-tab__item"><a class="p-tab__link" href="#tab-02">タブ2</a></li>
  </ul>
  <div class="p-tab__body">
    <div id="tab-01" class="p-tab__block js-tab-block is-active">
      <p class="c-text">タブ1
        <br>アニメーションはcss。開閉時に'.is-active'を付与する。
        <br>指定のタブを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
    </div>
    <div id="tab-02" class="p-tab__block js-tab-block">
      <p class="c-text">タブ2の中身</p>
      <p class="c-text">タブ2。
        <br>アニメーションはcss。開閉時に'.is-active'を付与する。
        <br>指定のタブを開いた状態にしたい場合は、「href="?scroll=id"」のリンクのパラメータ設定を末尾に加える。</p>
    </div>
  </div>
</div>
