<div class="p-box">
  <p class="p-box__title">タイトル</p>
  <p class="p-box__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>

<div class="p-box--alert">
  <p class="p-box__title">タイトル</p>
  <p class="p-box__text">テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
</div>
