<div class="p-card-group">
  <div class="p-card-group__item">
    <a class="p-card" href="#">
      <div class="p-card__in">
        <figure class="p-card__hero">
          <img class="p-card__image js-fit" src="http://placehold.it/1000x200" alt="">
        </figure>
        <div class="p-card__body">
          <p class="p-card__title">カード見出し</p>
          <p class="p-card__text">カードテキストカードテキストカードテキスト</p>
        </div>
      </div>
    </a>
  </div>
  <div class="p-card-group__item">
    <a class="p-card" href="#">
      <div class="p-card__in">
        <figure class="p-card__hero">
          <img class="p-card__image js-fit" src="http://placehold.it/500x500" alt="">
        </figure>
        <div class="p-card__body">
          <p class="p-card__title">カード見出し</p>
          <p class="p-card__text">カードテキストカードテキストカードテキストカードテキストカードテキストカードテキスト</p>
        </div>
      </div>
    </a>
  </div>
  <div class="p-card-group__item">
    <div class="p-card">
      <div class="p-card__in">
        <figure class="p-card__hero">
          <img class="p-card__image js-fit" src="http://placehold.it/1000x1000" alt="">
        </figure>
        <div class="p-card__body">
          <p class="p-card__title">カード見出し</p>
          <p class="p-card__text">カードテキストカードテキストカードテキスト</p>
          <div class="p-card__button-group c-button-group"><a class="c-button" href="#">通常ボタン</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-card-group__item">
    <div class="p-card">
      <div class="p-card__in">
        <figure class="p-card__hero">
          <img class="p-card__image js-fit" src="http://placehold.it/300x300" alt="">
        </figure>
        <div class="p-card__body">
          <p class="p-card__title">カード見出しカード見出しカード見出しカード見出しカード見出し</p>
          <p class="p-card__text">カードテキストカードテキストカードテキスト</p>
          <div class="p-card__button-group c-button-group"><a class="c-button" href="#">通常ボタン</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
