<p class="c-text">左画像　+ 右テキスト</p>

<div class="p-flag">
  <figure class="p-flag__hero">
    <img class="p-flag__image" src="http://placehold.it/600x350" width="300" alt="">
    <figcaption class="p-flag__caption">キャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプションキャプション</figcaption>
  </figure>
  <div class="p-flag__body">
    <p class="c-text">.p-flag__heroの「style」は書きません。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
</div>

<p class="c-text">右画像　+ 左テキスト</p>
<div class="p-flag p-flag--reverse">
  <figure class="p-flag__hero">
    <img class="p-flag__image" src="http://placehold.it/300x200" width="150" alt="">
    <figcaption class="p-flag__caption">キャプションキャプションキャプションキャプションキャプションキャプションキャプション</figcaption>
  </figure>
  <div class="p-flag__body">
    <p class="c-text">.p-flag__heroの「style」は書きません。テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
  </div>
</div>
