<div class="p-form">
  <form>
    <div class="p-form__group">
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form1">テキストボックス</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--red">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <input id="form1" class="c-control" type="text">
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form2">エラーテキストボックス</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--red">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <input id="form2" class="c-control is-invalid" type="text">
          </div>
          <div class="p-form__invalid">
            <p class="c-text">入力してください。</p>
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <p class="p-form__title">チェックボックス</p>
          </div>
          <div class="p-form__tag"><span class="c-tag--red">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <div class="p-form__inline">
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="checkbox" value="">
                  <span class="c-check__text">通常チェックボックス</span>
                </label>
              </div>
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="checkbox" value="">
                  <span class="c-check__text">通常チェックボックス</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <p class="p-form__title">ラジオボタン</p>
          </div>
          <div class="p-form__tag"><span class="c-tag--red">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <div class="p-form__inline">
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="radio" name="radio" value="">
                  <span class="c-check__text">通常ラジオボタン</span>
                </label>
              </div>
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="radio" name="radio" value="">
                  <span class="c-check__text">通常ラジオボタン</span>
                </label>
              </div>
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="radio" name="radio" value="">
                  <span class="c-check__text">通常ラジオボタン</span>
                </label>
              </div>
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="radio" name="radio" value="">
                  <span class="c-check__text">通常ラジオボタン</span>
                </label>
              </div>
              <div class="p-form__inline-item">
                <label class="c-check">
                  <input type="radio" name="radio" value="">
                  <span class="c-check__text">通常ラジオボタン</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head" for="form3">
          <div class="p-form__label">
            <label class="p-form__title" for="form3">セレクトボックス</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--gray">任意</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <select id="form3" class="c-control u-w-auto">
              <option value="" selected>選択してください</option>
              <option value="テキスト">2018</option>
            </select>
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form4">メールアドレス</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--red-outline">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <input id="form4" class="c-control u-max-w-300" type="email">
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form5">電話番号</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--red-outline">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <input id="form5" class="c-control u-max-w-300" type="tel">
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form6">パスワード</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--red-outline">必須</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <input id="form6" class="c-control u-max-w-300" type="password">
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form7">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</label>
          </div>
          <div class="p-form__tag"><span class="c-tag--gray-outline">任意</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <select id="form7" class="c-control u-w-auto">
              <option value="" selected>2018</option>
              <option value="テキスト">2017</option>
            </select><span class="p-form__unit">年</span>
            <input class="c-control u-max-w-50 u-right" type="text" maxlength="2"><span class="p-form__unit">月</span>
            <input class="c-control u-max-w-50 u-right" type="text" maxlength="2"><span class="p-form__unit">日</span>
          </div>
        </div>
      </div>
      <div class="p-form__item">
        <div class="p-form__head">
          <div class="p-form__label">
            <label class="p-form__title" for="form8">その他</label>
            <ul class="c-list--small">
              <li class="c-list__item c-list__item--notes">注釈リスト注釈リスト</li>
            </ul>
          </div>
          <div class="p-form__tag"><span class="c-tag--gray-outline">任意</span></div>
        </div>
        <div class="p-form__body">
          <div class="p-form__block">
            <textarea id="form8" class="c-control" rows="6" placeholder="通常textarea"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="p-form__foot c-button-group">
      <a class="c-button-middle c-button--weak" href="#">戻る</a>
      <button class="c-button-middle">確認</button>
    </div>
  </form>
</div>
