<video id="fullscreen-01" class="p-fullscreen" src="/assets/video/video_01.mp4" poster="/assets/image/img/img_video_01.jpg" playsinline muted autoplay loop></video>

<div class="c-button-group">
  <a class="c-button js-toggle" href="#fullscreen-01"><span class="c-button__text">全画面背景を表示</span></a>
</div>
