<ul class="p-info">
  <li class="p-info__item">
    <p class="p-info__head">2018/12/31</p>
    <div class="p-info__body">
      <p class="p-info__text"><a href="#">テキストテキストテキストテキストテキストテキストテキストテキスト</a></p>
    </div>
  </li>
  <li class="p-info__item">
    <p class="p-info__head">2018/12/31</p>
    <div class="p-info__body">
      <p class="p-info__text"><a class="c-icon--after c-icon--window" href="#" target="_blank">テキストテキストテキストテキストテキストテキストテキストテキスト</a></p>
    </div>
  </li>
  <li class="p-info__item">
    <p class="p-info__head">2018/12/31</p>
    <div class="p-info__body">
      <p class="p-info__text"><a class="c-icon--after c-icon--pdf" href="#" target="_blank">テキストテキストテキストテキストテキストテキストテキストテキスト</a></p>
    </div>
  </li>
</ul>
